# elementpath
setuptools
numpy
netCDF4
# git+https://github.com/Unidata/netcdf4-python
# protobuf
bs4
# requests
tables
scipy
# isodate
# pandas
# wrapt
influxdb
pyyaml
# h5py
pysolcast
astral
siphon
pvlib
